@using EntityLayer.Concrete
@model List<Product>

@{
    ViewData["Title"] = "Ürün Sayfası";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center">Ürünler</h2>
<br />
<a style="margin-bottom:5px" class="btn btn-primary" asp-controller="#" asp-action="#">Ürün Ekle</a>
<table class="table table-bordered">
    <tr>
        <th>Ürün Adı</th>
        <th>Kategori</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProductName</td>
            <td>@item.Category.CategoryName</td>
            <td><a class="btn btn-danger" asp-controller="#" asp-action="#">Sil</a></td>
            <td><a class="btn btn-warning" asp-controller="#" asp-action="#">Güncelle</a></td>
        </tr>
    }
</table>


